# Environment
.env
.env.*
auth.json

# Node
/node_modules
npm-debug.log
yarn-error.log

# Vendor
/vendor

# Public build
/public/build
/public/hot
/public/storage

# Laravel runtime
/storage/*
!/storage/app/
!/storage/app/public/
/storage/framework/*
/storage/framework/sessions/*
/storage/framework/cache/*
/storage/framework/views/*
/storage/logs/*

/bootstrap/cache/*

# Testing
/.phpunit.cache

# IDE
/.idea
/.vscode
/.fleet

# Homestead
Homestead.json
Homestead.yaml
